<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Deep Imagify</h1>
    <!--  <h2 class="footer-links">
        <a href="#">Home</a>
        |
        <a href="#">Creators</a>
        |
        <a href="#">Categories</a>
        |
        <a href="#">Quote of the Day</a>
    </h2>

-->
    <address>
      <a class="footer__btn" href="mailto:vinayreddykalluri@gmail.com">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Useful Links</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">Categories</a>
        </li>

        <li>
          <a href="#">Creators</a>
        </li>
        <li>
          <a href="#">Quote of the Day</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Popular Categories</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Motivational</a>
        </li>

        <li>
          <a href="#">Life</a>
        </li>

        <li>
          <a href="#">Love</a>
        </li>

        <li>
          <a href="#">Beauty</a>
        </li>

        <li>
          <a href="#">Friendship</a>
        </li>

        <li>
          <a href="#">Success</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2022 Deep Imagify. All rights reserved.</p>

    <!--<div class="legal__links">
      <span>Made with <span class="heart">♥</span> from UMKC </span>
    </div>-->
  </div>
</footer>

