
<section class="section">
  <!--<img src="/assets/logo.jpg">-->
  <h1>Deep Imagify - Image editing tools powered by AI</h1>
  <div class="grid">

    <div class="item item--full">
      <div class="item__details">
        Image Restoration - Powered by AI
      </div>
    </div>

    <div class="item">
      <div class="item__details">
      Crop Photos
      </div>
    </div>

    <div class="item item--large">
      <div class="item__details">
        Resize Photos
      </div>
    </div>

    <div class="item item--medium">
      <div class="item__details">
        One-Click Background Remover
      </div>
    </div>

    <div class="item item--large">
      <div class="item__details">
        Photo Effects - Filters
      </div>
    </div>

    <div class="item item--medium">
      <div class="item__details">
        Add Text to Images
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Balance Exposure
      </div>
    </div>
    <div class="item">
      <div class="item__details">
        Enhance Colors
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        Sharpen Your Image
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Image to Anime
      </div>
    </div>
    <div class="item">
      <div class="item__details">
        Make a Collage
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        All-In-One Image Type Conversion
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        Get a Photo - Powered by Unsplash
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
       Color Splash Effect
      </div>
    </div>
    <div class="item">
      <div class="item__details">
        Standard Templates
      </div>
    </div>
  </div>


  <app-image-app-footer></app-image-app-footer>

<app-image-app-waves-effect></app-image-app-waves-effect>

  <app-image-cropper></app-image-cropper>
